@use '../utils/' as *;

html {
  font-size: 62.5%;
}

body {
  color: $color-gray;
  font-family: $font-family;
  font-size: $font-size-body;
  font-weight: $font-weight-normal;
  line-height: $line-height;
}

h1,
h2,
h3 {
  color: $color-primary-dark;
  font-weight: $font-weight-bold;
  letter-spacing: -2px;
  margin: 0.5em 0 0.5em;
  line-height: $line-height * 0.75;
}

h1 {
  font-size: $font-size-body * 3;
}

h2 {
  font-size: $font-size-body * 2;
}

h3 {
  font-size: $font-size-body * 1.5;
}
