@use './components/' as components;
@use './base/' as *;
@use './pages/' as pages;

body {
  display: grid;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 5rem 2rem;
  place-content: center;
}
