// *THEME
$color-primary: hsl(333, 80%, 67%);
$color-primary-dark: hsl(300, 43%, 22%); // * Headings Color

$color-gray: hsl(303, 10%, 53%); // * Body Text Color
$color-gray-light: hsl(300, 24%, 96%);
$color-white: hsl(0, 0%, 100%);

// * TEXT
$font-size-body: 1.4rem;
$font-family: 'Spartan', Arial, Halvetica, sans-serif;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$line-height: 1.7;
