@use '../utils/' as *;

.card {
  border-radius: 5px;
  padding: 3em 2em;

  &--light {
    background: $color-gray-light;
  }

  $this: &;
  &--dark {
    background: $color-primary-dark;
    color: $color-gray-light;

    #{$this}__title {
      color: $color-white;
    }
  }

  &__title {
    font-size: $font-size-body * 1.1;
    letter-spacing: 0;
  }
}

// * HTML Markup

// <div class="card card--light/card--dark ratings-card">
//       <h2 class="card__title">Rated 5 Stars in Reviews</h2>
//       <ul class="list list--inline">
//         <li class="list__item">
//           <img
//             class="list__star"
//             src="./images/icon-star.svg"
//             alt="A Golden star"
//           />
//         </li>
//       </ul>
//     </div>
