@use '../utils/' as *;

.card {
  border-radius: 5px;
  padding: 3em 2em;

  &--light {
    background: $color-gray-light;
  }

  $this: &;
  &--dark {
    background: $color-primary-dark;
    color: $color-gray-light;

    h1,
    h2,
    h3 {
      color: $color-white;
    }
  }
}

// * HTML Markup

// <div class="card card--light ratings-card">
//       <h2>Lorem ipsum dolor sit amet.</h2>
//       <p>
//         Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, adipisci
//         aspernatur eveniet ea quia rem et praesentium rerum esse harum
//         distinctio? Maxime, at officia sequi facilis nihil quasi nam pariatur.
//       </p>
//     </div>
